img { vertical-align: top; }

body { background: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05) 1px, 0, transparent 50px) #333; font-family: "Poppins", "Noto Sans KR"; }

a { text-decoration: none; color: inherit; }

header { height: 50px; display: -webkit-box; display: -ms-flexbox; display: flex; color: #111; overflow: hidden; text-shadow: 1px 1px 0px #e6e6e6,2px 2px 0px #e6e6e6,3px 3px 0px #e6e6e6,4px 4px 0px #e6e6e6,5px 5px 0px #e6e6e6,6px 6px 0px #e6e6e6,7px 7px 0px #e6e6e6,8px 8px 0px #e6e6e6,9px 9px 0px #e6e6e6,10px 10px 0px #e6e6e6,11px 11px 0px #e6e6e6,12px 12px 0px #e6e6e6,13px 13px 0px #e6e6e6,14px 14px 0px #e6e6e6,15px 15px 0px #e6e6e6,16px 16px 0px #e6e6e6,17px 17px 0px #e6e6e6,18px 18px 0px #e6e6e6,19px 19px 0px #e6e6e6,20px 20px 0px #e6e6e6,21px 21px 0px #e6e6e6,22px 22px 0px #e6e6e6,23px 23px 0px #e6e6e6,24px 24px 0px #e6e6e6,25px 25px 0px #e6e6e6,26px 26px 0px #e6e6e6,27px 27px 0px #e6e6e6,28px 28px 0px #e6e6e6,29px 29px 0px #e6e6e6,30px 30px 0px #e6e6e6;; font-size: 18px; font-weight: 500; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #fff; -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body, .contents { height: 100%; }

.user { background-color: #a9bdce; }

.user label { padding: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; font-size: 14px; }

.user label input { width: calc(100% - 80px); height: 40px; padding: 5px 10px; background-color: #fff; outline: none; border: none; }

.user label .nickName { background-color: #111; color: #fff; outline: none; border: none; height: 42px; border-radius: 5px; width: 70px; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.chattingBox { background-color: #b2c7d9; height: calc(100% - 230px); overflow-y: auto; }

.chattingBox .list li { font-size: 14px; display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 30px; }

.chattingBox .list li .profile { position: relative; margin-right: 10px; }

.chattingBox .list li .profile img { width: 40px; height: 40px; -o-object-fit: cover; object-fit: cover; border-radius: 100%; overflow: hidden; }

.chattingBox .list li .profile .nickName { width: 100px; font-size: 12px; position: absolute; left: 50px; }

.chattingBox .list li .msgBox { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; margin-top: 20px; }

.chattingBox .list li .msgBox .time { font-size: 12px; }

.chattingBox .list li .msg { padding: 10px; border-radius: 5px; margin-right: 10px; }

.chattingBox .list li.me { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }

.chattingBox .list li.me .profile .nickName { left: auto; right: 40px; text-align: right; }

.chattingBox .list li.me .msgBox { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }

.chattingBox .list li.me .msg { background-color: #ffeb33; margin-right: 0; margin-left: 10px; }

.chattingBox .list li.other .msg { background-color: #fff; }

.sendBox { background-color: #fff; height: 150px; position: relative; }

.sendBox textarea { padding: 10px; width: calc(100% - 80px); height: 100%; resize: none; border: none; outline: none; }

.sendBox button { padding: 8px 15px; border-radius: 3px; position: absolute; right: 10px; top: 10px; border: 1px solid transparent; outline: none; font-size: 14px; background-color: #f0f0f0; border-color: #dadada; color: #999; }

.sendBox button.on { background-color: #ffeb33; color: #111; }
