<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/layout.css" />
        <script src="/js/gsap/gsap.min.js"></script>
        <script src="/js/jquery-3.6.0.min.js"></script>
        <title>MONGO</title>
    </head>
    <body>
        <header id="header" class="header">
            <h1 id="logo">MONGO DB</h1>
        </header>
        <div class="contents">
